<% provide(:title, 'Test page') %>
<div class="row content">
	<div class="col-xs-12 col-sm-8 col-sm-offset-1">
		<h3>WhiteLab Tester</h3>
		<br />
		<br />
		<%= form_tag(BASE_PATH + "/test", id: "test-form", method: "get") do %>
			<%= number_field_tag(:id, value = @id, options = { :min => 1, :step => 1 }) %>
			<%= submit_tag('Go', class: 'btn btn-primary') %>
		<% end %>
		<br />
		<br />
		<% if @degree %>
			<pre id="output-panel"><%= @degree %></pre>
		<% end %>
	</div>
</div>
