<div id="pos-tag-dialog" class="dialog">
	<div class="feature-list col-xs-12 visible-xs"><span class="loading"></span></div>
	<div class="feature-list col-sm-6 visible-sm visible-md visible-lg"><span class="loading"></span></div>
	<div class="word-type-list follow-list col-xs-12 visible-xs"><span class="loading"></span></div>
	<div class="word-type-list follow-list col-sm-6 visible-sm visible-md visible-lg"><span class="loading"></span></div>
</div>