<div id="metadatum-dialog" class="dialog">
	<div class="edit-form col-xs-12"><span class="loading"></span></div>
	<div class="value-list bottom-box col-xs-12 visible-xs visible-sm visible-md visible-lg"><span class="loading"></span></div>
</div>