<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<label><%= t(:"queries.keys.query") %></label>
			</div>
			<div class="panel-body">
				<div id="query-details" class="tab-content contrast" data-query-id="<%= query.id %>"></div>
			</div>
		</div>
	</div>
</div>
