/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require cookies_eu
 */
@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "menus";
@import "header";
@import "advanced";
@import "legacy";
@import "static_pages";
@import "introjs";
@import "treemap";
@import "layout";

span.loading {
  &:before {
    content: url(asset-path("spinner.gif"));
    margin-top: 4px;
  }
  &:after {
    font-style: italic;
    content: '  Loading...';
    vertical-align: text-bottom;
  }
}

.tiny-loading-icon {
  display: inline-block;
  background-image: image-url("spinner.gif");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  min-width: 12px;
  min-height: 12px;
}

a.remove-query {
  z-index: 10000;
}
