<div id="pos-head-dialog" class="dialog">
	<div class="feature-list col-xs-12 visible-xs"><span class="loading"></span></div>
	<div class="feature-list col-sm-4 visible-sm visible-md visible-lg"><span class="loading"></span></div>
	<div class="pos-tag-list follow-list col-xs-12 visible-xs"><span class="loading"></span></div>
	<div class="pos-tag-list follow-list col-sm-8 visible-sm visible-md visible-lg"><span class="loading"></span></div>
</div>