<% if ['explore', 'search'].include?(@namespace) && !@query.blank? && @query.finished? && !@query.failed? %>
	<div class="col-xs-12 right-aligned">
		<a type="button" class="btn btn-info btn-export export" data-namespace="<%= @namespace %>" data-query-id="<%= @query.id %>"><%= t('button_labels.keys.export').capitalize %></a>
	</div>
<% end %>
